<%= form_with model: treatment do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>
  
   <div>
    <%= form.label :product %><br>
    <%= form.collection_select :product_id, @products, :id, :name %> 
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>