<div id="<%= dom_id treatment_plan %>">
  <p>
    <strong>Annual cost:</strong>
    <%= treatment_plan.annual_cost %>
  </p>

  <p>
    <strong>Monthly cost:</strong>
    <%= treatment_plan.monthly_cost %>
  </p>

  <p>
    <strong>Cost per visit:</strong>
    <%= treatment_plan.cost_per_visit %>
  </p>

  <p>
    <strong>Treatment count:</strong>
    <%= treatment_plan.treatment_count %>
  </p>

  <p>
    <strong>Visit count:</strong>
    <%= treatment_plan.visit_count %>
  </p>

  <p>
    <strong>Cost per treatment:</strong>
    <%= treatment_plan.cost_per_treatment %>
  </p>

  <p>
    <strong>Square feet:</strong>
    <%= treatment_plan.square_feet %>
  </p>

  <p>
    <strong>Type of grass:</strong>
    <%= treatment_plan.type_of_grass %>
  </p>

</div>
